* {
  font-family: 'Helvetica', sans-serif;
  /*font-family: serif;*/


}

/*This is just for testing*/
/**{
  border: 1px solid red;
}*/

/*div, main, nav {
  height: 300px;
}*/


.row {
  cursor: url('images/fish_icon.cur'), pointer;
  box-sizing: border-box;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear:both;
}

.column,
.columns * {
  width: 100%;
}

.column,
.columns {
  /*width: 100%;*/
  float: left;
  position: relative;
  box-sizing: border-box; }

.one12.columns                    { width: 8.333333333333333%; }
.two12.columns                    { width: 16.666666666666666%; }
.one4.columns,
.three12.columns                  { width: 25%; }
.four12.columns                   { width: 33.33333333333333%; }
.five12.columns                   { width: 41.66666666666666%; }
.one2.columns,
.six12.columns                    { width: 50%; }
.seven12.columns                  { width: 58.333333333333333%; }
.one3.columns,
.eight12.columns                  { width: 66.66666666666666%; }
.three4.clolumns,
.nine12.columns                   { width: 75%; }
.ten12.columns                    { width: 83.33333333333333%; }
.eleven12.columns                 { width: 91.66666666666666%; }
.one.column,
.one.columns,
.twelve12.columns                 { width: 100%; margin-left: 0; }

.social_ico,
.social_link {
  width:50%;
  display: block;
  float: left;
}

#chinookImg {
  transform: scale(-1, 1);
}

/*header information*/

header.row {
  position: relative;
  /*background-image:*/
}

#salmonHeader {
  text-align: center;
  font-size: 400%;
  animation: blinker 4s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}

#salmonImg {
  float: left;
  width: 75%;
  cursor: alias, auto;
}
#catoonCookie {
  width: 25%;
}

/*https://gist.github.com/andyferra/2554919*/
table {
  padding: 0;
  margin: 15px 0;}
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
