* {
  font-family: 'Helvetica', sans-serif;
  /*font-family: serif;*/
}

/*This is just for testing*/
div, main, nav {
  border: 1px solid red;
  height: 300px;
}

.row {
  box-sizing: border-box;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear:both;
}

.column,
.columns * {
  width: 100%;
}

.column,
.columns {
  /*width: 100%;*/
  float: left;
  position: relative;
  box-sizing: border-box; }

.one12.columns                    { width: 8.333333333333333%; }
.two12.columns                    { width: 16.666666666666666%; }
.one4.columns,
.three12.columns                  { width: 25%; }
.four12.columns                   { width: 33.33333333333333%; }
.five12.columns                   { width: 41.66666666666666%; }
.one2.columns,
.six12.columns                    { width: 50%; }
.seven12.columns                  { width: 58.333333333333333%; }
.one3.columns,
.eight12.columns                  { width: 66.66666666666666%; }
.three4.clolumns,
.nine12.columns                   { width: 75%; }
.ten12.columns                    { width: 83.33333333333333%; }
.eleven12.columns                 { width: 91.66666666666666%; }
.one.column,
.one.columns,
.twelve12.columns                 { width: 100%; margin-left: 0; }
